.table-input-text {
    outline: none;
    border: none;
    width: 100%;
    overflow: auto;
    background: transparent;
}

.select-f {
    background: none;
    border: none;
}

.btn-tb {
    background: #ea1c26;
    border: 0;
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 34px;
    line-height: 24px;
    padding: 5px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}



* {
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
}

.__select {
    display: flex;
    width: 230px;
    height: 204px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px #c7ccd1;
}

.__select__content {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflox-x: hidden;
}

.reset {
    display: flex;
    width: 230px;
    padding: 8px 16px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: solid 1px #c7ccd1;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffffff;
    color: #333333;
}

    .reset:hover {
        background-color: #D8093A;
        color: #ffffff;
    }

.__select__input {
    display: none;
}

    .__select__input:checked + label {
        background-color: #dedede;
    }

    .__select__input:disabled + label {
        opacity: 0.6;
        pointer-events: none;
    }

.__select__label {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 40px;
    padding: 0 16px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

    .__select__label + input + .__select__label {
        border-top: 1px solid #C7CCD160;
    }

    .__select__label:hover {
        background-color: #D8093A !important;
        color: #ffffff;
    }