<div class="mobile-header-section d-block d-lg-none">

    <div class="mobile-header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <div class="mobile-header--left">
                        <a href="" class="mobile-logo-link">
                            <img src="images/logo/logo.png" alt="" class="mobile-logo-img">
                        </a>
                    </div>
                    <div class="mobile-header--right">
                        <a href="#mobile-menu-offcanvas" class="mobile-menu offcanvas-toggle">
                            <span class="mobile-menu-dash"></span>
                            <span class="mobile-menu-dash"></span>
                            <span class="mobile-menu-dash"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<header class="header-section d-lg-block d-none">
    
    <div class="header-center">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-3">
                    
                    <div class="header-logo">
                        <a href="index.html"><img src="images/logo/logo.png" alt=""></a>
                    </div>
                </div>

                <div class="col-3 text-right">
                    
                    <ul class="header-action-icon">
                        <li>
                            <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                <i class="icon-shopping-cart"></i>
                                <span class="header-action-icon-item-count">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                                <i class="icon-user"></i>
                            </a>
                        </li>
                    </ul> 
                </div>
            </div>
        </div>
    </div> 
    
    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li>
                                    <a href="about-us.html">Главная</a>
                                </li>
                                <li class="has-dropdown has-megaitem">
                                    <a href="product-details-default.html">
                                        Купить <i class="fa fa-angle-down"></i>
                                    </a>
                                   
                                    <div class="mega-menu">
                                        <ul class="mega-menu-inner">
                                            
                                            <li class="mega-menu-item">
                                                <a href="#" class="mega-menu-item-title">Категория</a>
                                                <ul class="mega-menu-sub">
                                                    <li>
                                                        <a href="#">Категория 1</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            
                                            <li class="mega-menu-item">
                                                <a href="#" class="mega-menu-item-title">Категория</a>
                                                <ul class="mega-menu-sub">
                                                    <li><a href="#">Категория 1</a></li>
                                                </ul>
                                            </li>
                                            
                                            <li class="mega-menu-item">
                                                <a href="#" class="mega-menu-item-title">Категория</a>
                                                <ul class="mega-menu-sub">
                                                    <li>
                                                        <a href="#">Категория 1</a>
                                                    </li>
                                                </ul>
                                            </li>
                                           
                                            <li class="mega-menu-item">
                                                <a href="#" class="mega-menu-item-title">Категория 1</a>
                                                <ul class="mega-menu-sub">
                                                    <li>
                                                        <a href="#">Категория 1</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="menu-banner">
                                            <a href="" class="menu-banner-link">
                                                <img class="menu-banner-img" src="images/banner/menu-banner.jpg"
                                                     alt="">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Контакты</a>
                                </li>
                            </ul>
                        </nav>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
</header>